<h2>Binding Property</h2>
<!-- String Interpolation -->
<div>
    {{name2}}
  </div>
  <!-- Property Binding -->
  <div>
    <button [disabled]="!load">Click</button>
  </div>
  <!-- Event Binding -->
  <div>
    <input type="text" (input)="update($event)">
    {{name}}
  </div>
  <!-- Two way Binding --><!--input FormsModule-->
  <div>
    <input class="form-control" [(ngModel)]="modelname">
    <p>{{modelname}} </p>
  </div>