<h2>Structural Directives</h2>
<div *ngIf="users">
    <div *ngFor="let user of users">
        <div [ngSwitch]="user.gender">
            <div *ngSwitchCase="'f'" style="background-color: pink;">
                {{user.name}}
            </div>
            <div *ngSwitchCase="'m'" style="background-color: blue;">
                {{user.name}}
            </div>
            <div *ngSwitchDefault="">
                {{user.name}}
                
            </div>
        </div>
    </div>
</div>